<html>

<body>
<div>
        <form method="post">
            <input type="text" name="text" placeholder="Введи что-нибудь" />
            <input type="text" name="tag" placeholder="Тег">
            <button type="submit">Добавить</button>
        </form>
</div>
    <div>Список сообщений</div>
    {{#messages}}
        <div>
            <b>{{id}}</b>
            <i>{{test}}</i>
            <span>{{tag}}</span>
        </div>
        {{/messages}}
</body>

</html>